<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://JAVA.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

<servlet>
	<servlet-name>FrontController</servlet-name>
	<servlet-class>com.revature.web.FrontController</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>FrontController</servlet-name>
	<url-pattern>/employees/login</url-pattern>
	<url-pattern>/employees/register</url-pattern>
	<url-pattern>/employees/employee/requestsubmission</url-pattern>
	<url-pattern>/managers/login</url-pattern>
	<url-pattern>/managers/register</url-pattern>
	<url-pattern>/employees/employee</url-pattern>
	<url-pattern>/employees/employee/myrequests</url-pattern>
	<url-pattern>/employees/employee/myrequests/status</url-pattern>
	<url-pattern>/managers/manager/requests</url-pattern>
	<url-pattern>/managers/manager/requestbyemployee</url-pattern>
	<url-pattern>/managers/manager/requestbyresolvedmanager</url-pattern>
	<url-pattern>/managers/manager/requestbystatus</url-pattern>
	<url-pattern>/managers/manager/employees</url-pattern>
	<url-pattern>/employees/employee/update</url-pattern>
	<url-pattern>/managers/manager/requestupdate</url-pattern>
	
</servlet-mapping>

<error-page>
	<error-code>404</error-code>
	<location>/error</location>
</error-page>
</web-app>